FillItUp/Source/Packages/
FillItUp/Backup/
FillItUp/Plugins/*
!FillItUp/Plugins/GamePlugin.core.dll
!FillItUp/Plugins/GamePlugin.core.pdb
!FillItUp/Plugins/GamePlugin.core.xml
!FillItUp/Plugins/EditorPlugin.editor.dll
!FillItUp/Plugins/EditorPlugin.editor.pdb
!FillItUp/Plugins/EditorPlugin.editor.xml
FillItUp/NVorbis.dll
FillItUp/OpenTK.GLControl.dll
FillItUp/OpenTK.GLControl.xml
FillItUp/OpenTK.dll
FillItUp/OpenTK.dll.config
FillItUp/OpenTK.pdb
FillItUp/OpenTK.xml
FillItUp/FarseerDuality.xml
FillItUp/FarseerDuality.pdb
FillItUp/Microsoft.Web.XmlTransform.dll
FillItUp/NVorbis.XML
FillItUp/FarseerDuality.dll
FillItUp/EditorUserData.xml
FillItUp/PopupControl.dll
FillItUp/PopupControl.pdb
FillItUp/DualityUpdater.exe
FillItUp/DualityPrimitives.pdb
FillItUp/WeifenLuo.WinFormsUI.Docking.dll
FillItUp/WeifenLuo.WinFormsUI.Docking.pdb
FillItUp/logfile.txt
FillItUp/logfile_editor.txt
FillItUp/logfile_editor_prev.txt
FillItUp/perflog.txt
FillItUp/Aga.Controls.dll
FillItUp/Aga.Controls.pdb
FillItUp/Duality.pdb
FillItUp/Duality.xml
FillItUp/AdamsLair.WinForms.pdb
FillItUp/AdamsLair.WinForms.xml
FillItUp/perflog_editor.txt
FillItUp/DDoc.chm
FillItUp/DesignTimeData.dat
FillItUp/DualityEditor.pdb
FillItUp/DualityEditor.xml
FillItUp/DualityLauncher.exe
FillItUp/DualityLauncher.exe.config
FillItUp/DualityLauncher.pdb
FillItUp/DualityPrimitives.XML
FillItUp/AdamsLair.WinForms.dll
FillItUp/Source/Code/CorePlugin/bin/
FillItUp/Source/Code/CorePlugin/obj/
FillItUp/Source/Code/CorePlugin/GamePlugin.core.xml
FillItUp/Source/Code/EditorPlugin/bin/
FillItUp/Source/Code/EditorPlugin/obj/
FillItUp/Source/Code/EditorPlugin/GamePlugin.core.xml
FillItUp/Source/Code/ProjectPlugins.v12.suo